USE [master]
GO
/****** Object:  Database [quanlydienthoai1]    Script Date: 01/08/2025 01:27:07 ******/
CREATE DATABASE [quanlydienthoai1] ON  PRIMARY 
( NAME = N'quanlydienthoai1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\quanlydienthoai1.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'quanlydienthoai1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\quanlydienthoai1_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [quanlydienthoai1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [quanlydienthoai1]
GO
/****** Object:  ForeignKey [FK_DIENTHOA_BAOGOM_CAUHINH]    Script Date: 01/08/2025 01:27:09 ******/
ALTER TABLE [dbo].[DIENTHOAI] DROP CONSTRAINT [FK_DIENTHOA_BAOGOM_CAUHINH]
GO
/****** Object:  ForeignKey [FK_DIENTHOA_CHUA_THUONGHI]    Script Date: 01/08/2025 01:27:09 ******/
ALTER TABLE [dbo].[DIENTHOAI] DROP CONSTRAINT [FK_DIENTHOA_CHUA_THUONGHI]
GO
/****** Object:  ForeignKey [FK_DIENTHOA_CUNGCAP_NHASANXU]    Script Date: 01/08/2025 01:27:09 ******/
ALTER TABLE [dbo].[DIENTHOAI] DROP CONSTRAINT [FK_DIENTHOA_CUNGCAP_NHASANXU]
GO
/****** Object:  ForeignKey [FK_DIENTHOA_QUAN_LY_NHANVIEN]    Script Date: 01/08/2025 01:27:09 ******/
ALTER TABLE [dbo].[DIENTHOAI] DROP CONSTRAINT [FK_DIENTHOA_QUAN_LY_NHANVIEN]
GO
/****** Object:  ForeignKey [FK_DIACHIGI_MUA_QUA_KHACHHAN]    Script Date: 01/08/2025 01:27:09 ******/
ALTER TABLE [dbo].[DIACHIGIAOHANG] DROP CONSTRAINT [FK_DIACHIGI_MUA_QUA_KHACHHAN]
GO
/****** Object:  ForeignKey [FK_MUA_MUA_DIENTHOA]    Script Date: 01/08/2025 01:27:09 ******/
ALTER TABLE [dbo].[MUA] DROP CONSTRAINT [FK_MUA_MUA_DIENTHOA]
GO
/****** Object:  ForeignKey [FK_MUA_MUA2_KHACHHAN]    Script Date: 01/08/2025 01:27:09 ******/
ALTER TABLE [dbo].[MUA] DROP CONSTRAINT [FK_MUA_MUA2_KHACHHAN]
GO
/****** Object:  Table [dbo].[MUA]    Script Date: 01/08/2025 01:27:09 ******/
ALTER TABLE [dbo].[MUA] DROP CONSTRAINT [FK_MUA_MUA_DIENTHOA]
GO
ALTER TABLE [dbo].[MUA] DROP CONSTRAINT [FK_MUA_MUA2_KHACHHAN]
GO
DROP TABLE [dbo].[MUA]
GO
/****** Object:  Table [dbo].[DIACHIGIAOHANG]    Script Date: 01/08/2025 01:27:09 ******/
ALTER TABLE [dbo].[DIACHIGIAOHANG] DROP CONSTRAINT [FK_DIACHIGI_MUA_QUA_KHACHHAN]
GO
DROP TABLE [dbo].[DIACHIGIAOHANG]
GO
/****** Object:  Table [dbo].[DIENTHOAI]    Script Date: 01/08/2025 01:27:09 ******/
ALTER TABLE [dbo].[DIENTHOAI] DROP CONSTRAINT [FK_DIENTHOA_BAOGOM_CAUHINH]
GO
ALTER TABLE [dbo].[DIENTHOAI] DROP CONSTRAINT [FK_DIENTHOA_CHUA_THUONGHI]
GO
ALTER TABLE [dbo].[DIENTHOAI] DROP CONSTRAINT [FK_DIENTHOA_CUNGCAP_NHASANXU]
GO
ALTER TABLE [dbo].[DIENTHOAI] DROP CONSTRAINT [FK_DIENTHOA_QUAN_LY_NHANVIEN]
GO
DROP TABLE [dbo].[DIENTHOAI]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 01/08/2025 01:27:09 ******/
DROP TABLE [dbo].[KHACHHANG]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 01/08/2025 01:27:09 ******/
DROP TABLE [dbo].[NHANVIEN]
GO
/****** Object:  Table [dbo].[NHASANXUAT]    Script Date: 01/08/2025 01:27:09 ******/
DROP TABLE [dbo].[NHASANXUAT]
GO
/****** Object:  Table [dbo].[THUONGHIEU]    Script Date: 01/08/2025 01:27:08 ******/
DROP TABLE [dbo].[THUONGHIEU]
GO
/****** Object:  Table [dbo].[CAUHINH]    Script Date: 01/08/2025 01:27:08 ******/
DROP TABLE [dbo].[CAUHINH]
GO
/****** Object:  Table [dbo].[CAUHINH]    Script Date: 01/08/2025 01:27:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CAUHINH](
	[MACAUHINH] [nvarchar](50) NOT NULL,
	[MANHINH] [nvarchar](50) NULL,
	[CHIPXULY] [nvarchar](50) NULL,
	[RAM] [nvarchar](50) NULL,
	[BONHOTRONG] [nvarchar](50) NULL,
	[CAMERATRUOC] [nvarchar](50) NULL,
	[CAMERASAU] [nvarchar](50) NULL,
	[PIN] [nvarchar](50) NULL,
	[HEDIEUHANH] [nvarchar](50) NULL,
	[SIM] [nvarchar](50) NULL,
	[KETNOI] [nvarchar](50) NULL,
	[NGAYCAPNHAT] [datetime] NULL,
 CONSTRAINT [PK_CAUHINH] PRIMARY KEY CLUSTERED 
(
	[MACAUHINH] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THUONGHIEU]    Script Date: 01/08/2025 01:27:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THUONGHIEU](
	[MATH] [nvarchar](50) NOT NULL,
	[TENTH] [nvarchar](100) NULL,
	[MOTA] [nvarchar](200) NULL,
	[QUOCGIA] [nvarchar](50) NULL,
	[WEBSITETHUONGHIEU] [nvarchar](100) NULL,
 CONSTRAINT [PK_THUONGHIEU] PRIMARY KEY CLUSTERED 
(
	[MATH] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHASANXUAT]    Script Date: 01/08/2025 01:27:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHASANXUAT](
	[MANHASANXUAT] [nvarchar](100) NOT NULL,
	[TENNHASANXUAT] [nvarchar](100) NULL,
	[DIACHI] [nvarchar](100) NULL,
	[SODIENTHOAI] [nvarchar](200) NULL,
	[EMAIL] [nvarchar](100) NULL,
 CONSTRAINT [PK_NHASANXUAT] PRIMARY KEY CLUSTERED 
(
	[MANHASANXUAT] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 01/08/2025 01:27:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [nvarchar](100) NOT NULL,
	[HOVATENNV] [nvarchar](50) NULL,
	[GIOITINHNV] [nvarchar](50) NULL,
	[NGAYSINHNV] [date] NULL,
	[DIACHINV] [nvarchar](100) NULL,
	[SDTNV] [nvarchar](20) NULL,
	[EMAILNV] [nvarchar](50) NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 01/08/2025 01:27:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [nvarchar](50) NOT NULL,
	[HOTENKH] [nvarchar](100) NULL,
	[NGAYSINH] [date] NULL,
	[CMND] [nvarchar](100) NULL,
	[EMAIL] [nvarchar](100) NULL,
	[DIACHI] [nvarchar](100) NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIENTHOAI]    Script Date: 01/08/2025 01:27:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIENTHOAI](
	[MADT] [nvarchar](40) NOT NULL,
	[MANV] [nvarchar](100) NOT NULL,
	[MATH] [nvarchar](50) NOT NULL,
	[MACAUHINH] [nvarchar](50) NOT NULL,
	[MANHASANXUAT] [nvarchar](100) NOT NULL,
	[TENDT] [nvarchar](100) NULL,
	[GIABAN] [decimal](20, 0) NULL,
	[TENTHUONGHIEU] [nvarchar](50) NULL,
	[MAQUOCGIA] [nvarchar](50) NULL,
	[THOIHANBHDT] [nvarchar](50) NULL,
	[MOTA] [nvarchar](200) NULL,
 CONSTRAINT [PK_DIENTHOAI] PRIMARY KEY CLUSTERED 
(
	[MADT] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [BAOGOM_FK] ON [dbo].[DIENTHOAI] 
(
	[MACAUHINH] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [CHUA_FK] ON [dbo].[DIENTHOAI] 
(
	[MATH] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [CUNGCAP_FK] ON [dbo].[DIENTHOAI] 
(
	[MANHASANXUAT] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [QUAN_LY_FK] ON [dbo].[DIENTHOAI] 
(
	[MANV] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIACHIGIAOHANG]    Script Date: 01/08/2025 01:27:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIACHIGIAOHANG](
	[MADIACHI] [nvarchar](100) NOT NULL,
	[MAKH] [nvarchar](50) NOT NULL,
	[DIACHICUTHE] [nvarchar](100) NULL,
	[TENTINH] [nvarchar](100) NULL,
	[TENHUYEN] [nvarchar](100) NULL,
	[SDTNGUOINHAN] [nvarchar](20) NULL,
	[TENNGUOINHAN] [nvarchar](50) NULL,
 CONSTRAINT [PK_DIACHIGIAOHANG] PRIMARY KEY CLUSTERED 
(
	[MADIACHI] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [MUA_QUA_FK] ON [dbo].[DIACHIGIAOHANG] 
(
	[MAKH] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MUA]    Script Date: 01/08/2025 01:27:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MUA](
	[MADT] [nvarchar](40) NOT NULL,
	[MAKH] [nvarchar](50) NOT NULL,
	[SONAMBH] [nvarchar](50) NULL,
	[NGAYMUA] [datetime] NULL,
	[GHICHU] [nvarchar](200) NULL,
	[SOLG] [smallint] NULL,
 CONSTRAINT [PK_MUA] PRIMARY KEY CLUSTERED 
(
	[MADT] ASC,
	[MAKH] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [MUA_FK] ON [dbo].[MUA] 
(
	[MADT] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [MUA2_FK] ON [dbo].[MUA] 
(
	[MAKH] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  ForeignKey [FK_DIENTHOA_BAOGOM_CAUHINH]    Script Date: 01/08/2025 01:27:09 ******/
ALTER TABLE [dbo].[DIENTHOAI]  WITH CHECK ADD  CONSTRAINT [FK_DIENTHOA_BAOGOM_CAUHINH] FOREIGN KEY([MACAUHINH])
REFERENCES [dbo].[CAUHINH] ([MACAUHINH])
GO
ALTER TABLE [dbo].[DIENTHOAI] CHECK CONSTRAINT [FK_DIENTHOA_BAOGOM_CAUHINH]
GO
/****** Object:  ForeignKey [FK_DIENTHOA_CHUA_THUONGHI]    Script Date: 01/08/2025 01:27:09 ******/
ALTER TABLE [dbo].[DIENTHOAI]  WITH CHECK ADD  CONSTRAINT [FK_DIENTHOA_CHUA_THUONGHI] FOREIGN KEY([MATH])
REFERENCES [dbo].[THUONGHIEU] ([MATH])
GO
ALTER TABLE [dbo].[DIENTHOAI] CHECK CONSTRAINT [FK_DIENTHOA_CHUA_THUONGHI]
GO
/****** Object:  ForeignKey [FK_DIENTHOA_CUNGCAP_NHASANXU]    Script Date: 01/08/2025 01:27:09 ******/
ALTER TABLE [dbo].[DIENTHOAI]  WITH CHECK ADD  CONSTRAINT [FK_DIENTHOA_CUNGCAP_NHASANXU] FOREIGN KEY([MANHASANXUAT])
REFERENCES [dbo].[NHASANXUAT] ([MANHASANXUAT])
GO
ALTER TABLE [dbo].[DIENTHOAI] CHECK CONSTRAINT [FK_DIENTHOA_CUNGCAP_NHASANXU]
GO
/****** Object:  ForeignKey [FK_DIENTHOA_QUAN_LY_NHANVIEN]    Script Date: 01/08/2025 01:27:09 ******/
ALTER TABLE [dbo].[DIENTHOAI]  WITH CHECK ADD  CONSTRAINT [FK_DIENTHOA_QUAN_LY_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[DIENTHOAI] CHECK CONSTRAINT [FK_DIENTHOA_QUAN_LY_NHANVIEN]
GO
/****** Object:  ForeignKey [FK_DIACHIGI_MUA_QUA_KHACHHAN]    Script Date: 01/08/2025 01:27:09 ******/
ALTER TABLE [dbo].[DIACHIGIAOHANG]  WITH CHECK ADD  CONSTRAINT [FK_DIACHIGI_MUA_QUA_KHACHHAN] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[DIACHIGIAOHANG] CHECK CONSTRAINT [FK_DIACHIGI_MUA_QUA_KHACHHAN]
GO
/****** Object:  ForeignKey [FK_MUA_MUA_DIENTHOA]    Script Date: 01/08/2025 01:27:09 ******/
ALTER TABLE [dbo].[MUA]  WITH CHECK ADD  CONSTRAINT [FK_MUA_MUA_DIENTHOA] FOREIGN KEY([MADT])
REFERENCES [dbo].[DIENTHOAI] ([MADT])
GO
ALTER TABLE [dbo].[MUA] CHECK CONSTRAINT [FK_MUA_MUA_DIENTHOA]
GO
/****** Object:  ForeignKey [FK_MUA_MUA2_KHACHHAN]    Script Date: 01/08/2025 01:27:09 ******/
ALTER TABLE [dbo].[MUA]  WITH CHECK ADD  CONSTRAINT [FK_MUA_MUA2_KHACHHAN] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[MUA] CHECK CONSTRAINT [FK_MUA_MUA2_KHACHHAN]
GO
